<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&family=Sen:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Movie library</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-container">
        <div class="logo-container">
          <h1 class="logo">Movies</h1>
        </div>
        <div class="menu-container">
          <ul class="menu-list">
            <li class="menu-list-iteam active">Home</li>
            <li class="menu-list-iteam">Movies</li>
            <li class="menu-list-iteam">Series</li>
            <li class="menu-list-iteam">Popular</li>
            <li class="menu-list-iteam">Trends</li>
          </ul>
        </div>
       
      </div>
    </div>

    <div class="sidebar">
      <i class="side-menu-icon fa-solid fa-house"></i>
      <i class="side-menu-icon fa-solid fa-magnifying-glass"></i>
      <i class="side-menu-icon fa-solid fa-user-group"></i>
      <i class="side-menu-icon fa-regular fa-bookmark"></i>
      <i class="side-menu-icon fa-solid fa-tv"></i>
      <i class="side-menu-icon fa-regular fa-hourglass"></i>
      <i class="side-menu-icon fa-solid fa-cart-shopping"></i>
    </div>

    <div class="container">
      <div class="content-container">
        <div class="featured-content"></div>
        <div class="movie-list-container">
          <h1 class="movie-list-title">New Release</h1>

          <video width="320" height="240" controls src="Z:\movies\Mis\Miś_720p.mp4">
            Your browser does not support the video tag.
          </video>

          <video width="320" height="240" controls="controls">
            <source
              src="E:/IT Movies/Bykowski Tech/bykowski reaktywneOk.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
  </body>
</html>
